.button {
  background-color: #6a52fd;
  color: #ffff;
  border-radius: 0.5rem;
}

.sm-btn {
  border-radius: 0.5rem;
  border-image: linear-gradient(180deg, #6a52fd, #fd52ab);
  border-width: 2px;
  border-style: solid;
  border-image-slice: 21;
  color: #6a52fd;
}

.inner-content {
  border-radius: 0.5rem;
  border-image: linear-gradient(180deg, #6a52fd, #fd52ab);
  border-width: 2px;
  border-style: solid;
  border-image-slice: 21;
}

.inner-content1 {
  border-image: linear-gradient(180deg, #6a52fd, #fd52ab);
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 21;
}

.input-option-tab .login-tab-active3 {
  border-image: linear-gradient(180deg, #6a52fd, #fd52ab);
  border-width: 2px;
  border-style: solid;
  border-image-slice: 4;
  background: white;
  color: #BDBDBD;
}

.input-option-tab2 .login-tab-active3 {
  border-image: linear-gradient(180deg, #6a52fd, #fd52ab);
  border-width: 2px;
  border-style: solid;
  border-image-slice: 4;
  background: white;
  color: #6a52fd;
}

.set-position {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}