.friend-list-mobile-wrapper{
    display: none;
}

@media only screen and (max-width: 767px) {
    .friend-list-mobile-wrapper{
        display: block;
        width: 80vw;
        margin: 0 auto;
    }
    .friend-list-mobile-wrapper .search-holder{
        display: flex;
        background: #F8F8F8;
        border-radius: 5px;
        padding: 7px;
        margin-bottom: 30px;
    }
    .friend-list-mobile-wrapper .search-holder input{
        background: #F8F8F8;
        border: none;
        width: 100%;
        outline: none;
        margin-left: 10px;
    }
    .friend-list-mobile-wrapper{
        margin-top: 30px;
    }
    .selected-friend-mobile{
        background-color: #6A52FD;
        color: #FEFEFE;
    }
    .friend-list-mobile-wrapper .time{
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
        padding: 10px;
    }
    .friend-list-mobile-wrapper .item{
        display: flex;
        align-items: center;
    }
    .friend-list-mobile-wrapper .item img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .friend-list-mobile-wrapper .item p{
        margin: 0;
        font-size: 14px;
    }
    .friend-list-mobile-wrapper .item .message{
        font-size: 12px;
    }
    .friend-list-mobile-wrapper .item-wrapper-mobile{
        border-bottom: 1px solid #6A52FD;
        border-top: 1px solid #6A52FD;
        border-left: 1px solid #6A52FD;
        border-right: 1px solid #6A52FD;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 10px;
    }
    .friend-list-mobile-wrapper .item-wrapper-mobile:last-child{
        border-radius: 0 0 40px 40px;
        margin-bottom: 0;
    }
    .friend-list-mobile-wrapper .item-wrapper-mobile:first-child{
        border-radius: 0 0 40px 40px !important;
    }    
}
