.status::-webkit-scrollbar{
    display:none
}

 .status-image, .display-image, .feed-image, .post-image{
    border-radius: 50%;
    background-image: linear-gradient(180deg, #6a52fd, #fd52ab);
    border-image-slice: 21;
    
}


/* .blink{
    animation: blink 1s infinite
}
@keyframes blink{
    0%{opacity:1 ;}
    100%{opacity:0}
} */