/* .status::-webkit-scrollbar{
    display:none
} */

 .status-image, .display-image, .feed-image, .post-image{
    border-radius: 100%;
    background-image: linear-gradient(180deg, #6a52fd, #fd52ab);
    border-image-slice: 1;
    min-width:4rem ;
    height: 4rem;
    
}


/* .blink{
    animation: blink 1s infinite
}
@keyframes blink{
    0%{opacity:1 ;}
    100%{opacity:0}
} */