

.container input[type='radio']{
    display: none;
}


 .container input[type="radio"]:checked  +label{
   border: solid 1px blue;

}
.container input[type="radio"]:checked  +label span{
    background-color: #6A52FD;
    color: #fff;
 }

 .container  input[type="checkbox"]:checked  +label{
    border: solid 1px blue;
   
 }

 .container input[type="checkbox"]:checked  +label span{
    
    background-color: #6A52FD;
    color: #fff;
 }

 .inner input[type="checkbox"]:checked{
   background-color: #6A52FD;

 }

