/* .image-crossfade {
    position: relative;
}

.image-crossfade img {
    position: absolute;
}


@keyframes crossfading {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.top,
{
    animation-name: crossfading;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */