.recommendations{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        row-gap: 18px;  
}

.pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 40px;  
}

.blink{
        animation: blink 1s infinite
    }
    @keyframes blink{
        0%{opacity:1 ;}
        100%{opacity:0}
    }
    @media only screen and (max-width:1200px) {
        .recommendations{
                display:none
        }
    }